* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Gabarito', sans-serif;
}

.navbar__title {
    color: #A435F0;
}

.navbar {
    position: sticky;
    top: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    align-items: center;
    flex-direction: row;
    background-color: white;
    z-index: 1;

}

.navbar__icons {
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
}

.navbar__search {
    padding: 10px;
    display: flex;
    width: 60%;
    border: solid black 1px;
    border-radius: 30px;
    gap: 10px;
    
}

.navbar__search input {
    border: 0;
    width: 70%;
    font-size: 16px;
    background-color: transparent;
}

.navbar__search input:focus {
    outline: 0;
}

.categories {
    display: flex;
    padding: 10px;
    color: white;
    justify-content: space-around;
    border-bottom: 10px;
    flex-wrap: wrap;
}

.categories p {
    background-color: #A435F0;
    padding: 10px;
    border-radius: 30px;
    width: 170px;
    text-align: center;
    border: solid #A435F0 1px;
    
}
.categories p:hover{
    border: solid #A435F0 1px;
    background-color: white;
    color: black;
    cursor: pointer;
}

.saleimage img {
    width: 100%;
        
}

.saleimage{
    position: relative;
}


.saleimage__flashsale{

border: solid black 2px;
background-color: white;
width: 25%;
position: absolute;
top: 100px;
left: 100px;
padding: 20px;
animation-duration: 2s;
animation-name: zoom;
opacity: 0;
animation-fill-mode: forwards;
}
@keyframes zoom{
0%{
    transform: scale(0);
    opacity: 0;
}
100%{
    transform: scale(1);
    opacity: 1;
}
}

.saleimage__flashsale h{
    
    width: 35%;
    position: absolute;
    
}
.mylearning{
    position: relative;
    cursor: pointer;
    
}
.mylearning:hover .mylearning__popup{
    display: block;
}
.mylearning__popup{
    position: absolute;
    border: solid black 1px;
    background-color: white;
    padding: 10px;
    top: 30px;
    width: 150%;
    display: none;
    
}
.recommended{
    padding: 10px;
}
.recommended__container{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
}
.coursecard{
    width: 250px;
}

.coursecard img{
    width: 100%;
    height: 50%;
}
.topics__container{
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}
.topics__container p{
    border: solid gray 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}
.trendingpicks__container{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
.footer-1{
    background-color: black;
    color: white;
    padding-top: 30px;
    padding-bottom: 20px;
    height: 200px;
}
.footer-1__s1 p{
    margin: 20px; 
}
.footer-1{
    display: flex;
}
.footer-1__s2{
    padding-left: 60px;
}
.footer-1__s2 p{
    margin: 20px; 
}
.footer-2{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding-bottom: 50px;
}
